/*  your css code here. If applicable */
#box{
	width:200px;
	height:200px;
	background-color:lightblue;
	color:purple;
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid black;
}
